* {
	border: none;
	/*font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK;*/
	font-family: Iosevka, FontAwesome, Noto Sans CJK;
	font-size: 14px;
	font-style: normal;
	min-height: 0;
}

window#waybar {
	background: rgba(24, 18, 43, 0.7);
	border-bottom: 0px solid #c11c0d;
	color: #c11c0d
}

#workspaces {
	background: rgba(24, 18, 43, 0.7);
	border: solid 0px #c11c0d;
	font-size: 2;
}

#workspaces button {
	/*color: #9e7bfc;*/
	color: #7E60BF;
}

#workspaces button.empty {
	color: #393053;
}


/*#workspaces button.persistent {
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border-radius: 24px 24px 24px 24px;
	background-color: transparent;
	color: #f29ddf;

}*/

#workspaces button.active {
	color: #FFE1FF;
	background-color: transparent;
}

#workspaces button:hover {
	background-color: #f94de2;
	color: #4df99b;
}

#custom-date,
#Battery,
#custom-randwall,
#workspaces,
#pulseaudio,
#cpu,
#memory,
#disk,
#custom-launcher {
	background-color: rgba(0, 0, 0, 0.5);
	border: solid 0px #cecb00;
}

#custom-date {
	color: #cecb00;
}

#custom-power {
	color: #24283b;
	background-color: #db4b4b;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}

#tray {
	background: rgba(0, 0, 0, 0.5);
	margin: 5px 5px 5px 5px;
	padding: 0px 10px;
	/*border-right: solid 1px #282738;*/
}

#clock {
	color: #635985;
	background-color: rgba(0, 0, 0, 0.5);
	padding-left: 13px;
	padding-right: 15px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
	border: solid 3px #393053;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	/*border-left: solid 1px #282738;*/
}

#mpd {
	color: #635985;
	padding-left: 10px;
}


#battery {
	color: #9ece6a;
}

#battery.charging {
	color: #9ece6a;
}

#battery.warning:not(.charging) {
	background-color: #f7768e;
	color: #24283b;
}

#backlight {
	background-color: #24283b;
	color: #db4b4b;
	margin: 5px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px 0px;
}

#network {
	color: #fc83c5;
	margin-right: 5px;
}

#pulseaudio {
	color: #635985;
	background-color: rgba(0, 0, 0, 0.5);
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: solid 2px #443C68;
}

#pulseaudio.muted {
	background: transparent;
	color: #928374;
}

#custom-randwall {
	color: #635985;
	background: transparent;
	padding-right: 10px;
	border: solid 0px #7a03c4;
	margin-right: 0px;
}

#custom-launcher {
	color: #635985;
	background-color: rgba(0, 0, 0, 0.5);
	/*border-right: solid 1px #282738;*/
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	border-right: solid 2px #393053;
}

#custom-launcher button:hover {
	background-color: #FB4934;
	color: transparent;
	margin-right: -5px;
	margin-left: 10px;
}

#custom-playerctl {
	background: #282828;
	padding-left: 15px;
	padding-right: 14px;
	/*border-left: solid 1px #282738;*/
	/*border-right: solid 1px #282738;*/
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}

#custom-playerlabel {
	background: transparent;
	color: #76fcbb;
	padding-left: 10px;
	padding-right: 15px;
	/*border-left: solid 1px #282738;*/
	/*border-right: solid 1px #282738;*/
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
	font-style: normal;
}

#window {
	background: #282828;
	padding-left: 15px;
	padding-right: 15px;
	/*border-left: solid 1px #282738;*/
	/*border-right: solid 1px #282738;*/
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: normal;
	font-style: normal;
}

#custom-wf-recorder {
	padding: 0 20px;
	color: #e5809e;
	background-color: #1E1E2E;
}

#cpu {
	color: #635985;
	font-weight: bold;
	padding: 0px 10px 0px 10px;
	border-bottom: solid 2px #443C68;
}

#memory {
	color: #635985;
	padding: 0px 10px 0px 10px;
	font-weight: bold;
	border-bottom: solid 2px #443C68;
}

#disk {
	color: #635985;
	padding: 0px 10px 0px 10px;
	font-weight: bold;
	border-bottom: solid 2px #443C68;
}

#custom-hyprpicker {
	background-color: #282828;
	/*color: #8EC07C;*/
	margin: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0px 11px 0px 9px;
	font-weight: bold;
}
